# prometheus.yml
# global variables
global:
    scrape_interval: 5s
    external_labels:
        monitor: 'my-monitor'

## prometheus alerting rules
rule_files:
  - rules

## prometheus utilized a pull form of metrics - i.e.
## endpoints to scrape must be explicitly configured
scrape_configs:
## configures prometheus to self-scrape
  - job_name: 'prometheus'
    scrape_interval: 5s
    static_configs:
      - targets: ['INSERT_IP:9090']
  - job_name: 'cAdvisor'
    scrape_interval: 5s
    static_configs:
      - targets: ['INSERT_IP:8080']
